
docker.fixOwnership = true
docker {
    enabled = true
    runOptions = '--platform linux/amd64'
}
process {
    withLabel: 'blast_container' {
        container = 'ncbi/blast:2.16.0'
        cpus = 12
        memory = '16GB'
    }
    withLabel: 'python_container' {
        container = 'python:3.8'
        cpus = 4
        memory = '8GB'
    }
}
params.input = "test.fasta"
params.outdir = "results"
